require 'sham_rack'

ShamRack.at("api.airbrake.io") do |env|
  response = <<-end_xml
<notice>
<id>b6817316-9c45-ed26-45eb-780dbb86aadb</id>
<url>http://airbrake.io/locate/b6817316-9c45-ed26-45eb-780dbb86aadb</url>
</notice>
  end_xml
  ["200 OK", { "Content-type" => "text/xml" }, [response]]
end
